<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjmeow.bboard.dao.BillboardMapper">
    <select id="selectNewestBillboard" resultType="Billboard">
        SELECT
        billboard.id,
        previous,
        weeks,
        peak,
        rank,
        date,
        song_id,
        song.title
        FROM
        billboard, song
        WHERE billboard.song_id = song.id
        ORDER BY date
        LIMIT 100;
    </select>
</mapper>